global:
  scrape_interval: 5s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["prometheus:9090"]

  # Adapte les noms + ports aux services de ton groupe
  - job_name: "services"
    metrics_path: /metrics
    static_configs:
      - targets:
          - "mqtt-collector:2112"
          - "traffic-api:8080"
          - "realtime-gateway:8090"

  - job_name: "node-exporter"
    static_configs:
      - targets: ["node-exporter:9100"]

  - job_name: "cadvisor"
    static_configs:
      - targets: ["cadvisor:8080"]

  - job_name: "postgres"
    static_configs:
      - targets: ["postgres-exporter:9187"]
