services:
  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      - POSTGRES_USER=cityflow
      - POSTGRES_PASSWORD=cityflowpass
      - POSTGRES_DB=cityflow
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  adminer:
    image: adminer:latest
    container_name: adminer
    ports:
      - "8081:8080"
    restart: unless-stopped
    depends_on:
      - postgres

volumes:
  postgres_data:
